@import 'cssreset.css';
.image-outline {
  box-shadow: 0 0 0 1.5px #e83541;
  border: 4px solid white;
}
.image-hover-outline {
  box-shadow: 0 0 0 1.5px #e83541, 0px 1px 8px #333333;
}
.button-outline {
  border: 2px solid #f5a7ad;
}
.cart-outline {
  border: 2px solid #e83541;
}
body {
  background-color: #f9cccf;
}
h1 {
  color: black;
}
h1.heading-text {
  color: #e83541;
  background-color: #f9cccf;
  border-top: 2px dashed white;
  border-bottom: 2px dashed white;
}
h3 {
  color: #e83541;
}
h6 {
  color: white;
  border-bottom: 1px solid #f5a7ad;
}
a {
  color: black;
  -webkit-transition: color 0.5s ease;
          transition: color 0.5s ease;
}
a:hover {
  color: #e83541;
}
.nav-bg {
  background-color: white;
}
.navbtn,
.cartbtn {
  background-color: white;
}
.navbtn:hover,
.cartbtn:hover {
  color: #e83541;
}
.nav-dropdown a {
  color: white;
  background-color: #e83541;
}
.nav-dropdown a:hover {
  color: #e83541;
  background-color: white;
}
.menu:hover {
  color: #e83541;
}
.product-nav-bg {
  background-color: #f5a7ad;
}
.product-nav-buttons li:hover {
  background-color: #e83541;
}
.product-nav-buttons a:hover {
  color: black;
}
.thumbnail {
  box-shadow: 0 0 0 1.5px #e83541;
  border: 4px solid white;
}
.product-container:hover .prod-page-link-bg {
  border-top: 2px dashed #f5a7ad;
}
.prod-page-link-bg {
  background-color: white;
  border: 2px solid white;
  border-top: 2px solid white;
  -webkit-transition: border 0.5s ease;
          transition: border 0.5s ease;
}
.product-link {
  box-shadow: 0 0 0 1.5px #e83541;
  border: 4px solid white;
}
.product-link:hover {
  box-shadow: 0 0 0 1.5px #e83541, 0px 1px 8px #333333;
}
.product-price h3 {
  color: #e83541;
}
.product-price h3:hover {
  color: #e83541;
}
.contact-info a {
  color: #e83541;
}
.contact-info a:hover {
  color: black;
}
.contact-form input,
.contact-form textarea {
  border: 2px solid #f5a7ad;
}
.contact-form input#submit-form {
  color: white;
  background-color: #e83541;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.contact-form input#submit-form:hover {
  color: black;
  background-color: #f5a7ad;
}
.contact-form input#submit-form:active {
  color: black;
  background-color: white;
}
.contact-page-image {
  box-shadow: 0 0 0 1.5px #e83541;
  border: 4px solid white;
}
.alert-box {
  background-color: white;
  box-shadow: 0 0 0 1.5px #e83541;
  border: 4px solid white;
}
.alert-button {
  color: white;
  background-color: #e83541;
  border: 2px solid #f5a7ad;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.alert-button:hover {
  color: black;
  background-color: #f5a7ad;
}
.alert-button:active {
  color: black;
  background-color: white;
}
.blog-post {
  background-color: white;
  box-shadow: 0 0 0 1.5px #e83541, 0px 1px 8px #333333;
}
.blog-image {
  box-shadow: 0 0 0 1.5px #e83541;
  border: 4px solid white;
}
table {
  border: 2px solid #e83541;
  background-color: white;
}
table th {
  background-color: #e83541;
  color: white;
}
table td {
  border-bottom: 2px dashed #f5a7ad;
}
.checkout {
  color: white;
  background-color: #e83541;
  border: 2px solid #f5a7ad;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.checkout:hover {
  color: black;
  background-color: #f5a7ad;
}
.checkout:active {
  color: black;
  background-color: white;
}
.suggestion-images {
  box-shadow: 0 0 0 1.5px #e83541;
  border: 4px solid white;
}
button {
  background-color: white;
  border: none;
  border-radius: 5px;
}
footer {
  background-color: #e83541;
}
@media (min-width: 720px) {
  .thumb-container {
    box-shadow: 0 0 0 1.5px #e83541;
    border: 4px solid white;
  }
  .thumbnail {
    box-shadow: none;
    border: none;
  }
}
@media (min-width: 1000px) {
  body {
    background-image: url('../images/knit-bg.jpg');
    background-color: #f9cccf;
  }
  .heading-text {
    border: 2px dashed white;
  }
  .blog-recent-title {
    border-bottom: 2px solid #e83541;
  }
  .blog-rec-link-container i {
    color: #e83541;
    -webkit-transition: color 0.5s ease;
            transition: color 0.5s ease;
  }
  .blog-rec-link-container:hover i {
    color: black;
  }
  .cookies {
    background-color: #e83541;
    color: white;
    box-shadow: 0 1px 8px #333333;
  }
}
@font-face {
  font-family: Luxi-Reg;
  src: url("../fonts/luxirr.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: Raleway-Reg;
  src: url("../fonts/Raleway-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: Raleway-Bold;
  src: url("../fonts/Raleway-Bold.ttf");
  font-style: normal;
  font-weight: normal;
}
.number-font {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-weight: normal;
}
body {
  font-family: Raleway-Reg;
}
h1 {
  font-size: 1.75em;
  font-family: Luxi-Reg;
}
h1.heading-text {
  font-size: 1.5em;
  text-align: center;
}
h2 {
  font-size: 1.25em;
}
h2.contact-image-text {
  font-size: 1em;
  text-align: center;
}
h3 {
  font-family: Raleway-Bold;
}
h3.number-font {
  text-align: center;
}
h6 {
  font-family: Raleway-Bold;
  text-transform: uppercase;
}
a {
  text-decoration: none;
}
footer p {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-weight: normal;
  font-size: 0.9em;
}
.navbtn,
.cartbtn {
  font-size: 1.2em;
}
.product-title,
.product-price {
  text-align: center;
}
.contact-info p {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-weight: normal;
}
.contact-info p .email {
  font-size: 0.8em;
}
.contact-info h3 {
  font-size: 1.2em;
}
.contact-blurb {
  font-size: 1.2em;
}
#submit-form {
  font-family: Raleway-Reg;
  font-size: 1.2em;
}
.alert-box h3 {
  font-size: 1.5em;
  font-family: Raleway-Bold;
}
.blog-title {
  font-size: 1.75em;
}
.blog-date {
  font-size: 0.8em;
  font-style: italic;
}
td.cart-values,
td.cart-total-values {
  text-align: center;
}
td.cart-subheading {
  padding: 5px;
  text-align: right;
}
td.cart-total-heading {
  font-family: Raleway-Bold;
}
.checkout {
  font-family: Raleway-Reg;
  font-size: 1.2em;
}
.suggestion-title {
  line-height: 1.2em;
}
@media (min-width: 720px) {
  footer p {
    font-size: 0.8em;
  }
}
@media (min-width: 1000px) {
  footer p {
    font-size: 0.9em;
  }
  .cart-values,
  .cart-subheading {
    font-size: 1.1em;
  }
  .blog-rec-link-container i {
    font-size: 0.75em;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .ie {
    height: 100%;
  }
}
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}
h1.site-title {
  padding-left: 15px;
}
h1.heading-text {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 5px;
  padding: 5px 0;
  width: 100%;
}
h1.product-title {
  margin-top: 120px;
}
h1.page-title {
  margin-top: 120px;
}
h2.suggestion-title {
  padding: 20px;
}
h6 {
  padding-bottom: 5px;
}
li {
  padding: 5px 0;
}
.site {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.nav-bg,
.nav-container,
.nav-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  z-index: 10;
}
.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-logo {
  width: 50px;
  padding: 5px 0 0 10px;
}
.button-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 15px;
}
.navbtn,
.cartbtn {
  border: none;
  padding: 10px 10px;
  -webkit-transition: color 0.5s ease;
          transition: color 0.5s ease;
}
.nav-dropdown {
  display: none;
  position: absolute;
  right: 0;
  top: 72px;
  width: 100%;
  margin-top: 17px;
}
.nav-dropdown a {
  padding: 12px 16px;
  height: 20px;
  text-decoration: none;
  display: block;
  text-align: center;
  -webkit-transition: none;
          transition: none;
}
.menu-nav {
  display: none;
}
.product-nav-bg,
.product-nav-container,
.product-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 60px;
  height: 30px;
  width: 100%;
  z-index: 10;
}
.product-nav-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.product-nav-buttons li {
  padding: 7px 0;
  -webkit-transition: background-color 0.5s ease;
          transition: background-color 0.5s ease;
}
.product-nav-buttons li a {
  height: 50px;
  padding: 7px 10px;
}
.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 25px;
}
.header-image {
  margin-top: 90px;
  max-width: 100%;
}
.thumbnail-images {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.thumbnail-page-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.thumb-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 75%;
  padding: 25px 25px 0 25px;
}
.thumbnail {
  width: 100%;
  max-height: 100%;
  max-width: 400px;
}
.thumb-txt-link {
  padding: 10px;
}
.product-images {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}
.product-container {
  max-width: 80%;
  padding-bottom: 25px;
}
.product-link {
  display: block;
  background-clip: padding-box;
  max-width: 100%;
  padding: 0;
}
.product-thumb {
  max-width: 100%;
  margin-bottom: -2px;
}
.prod-page-link-bg {
  width: 100%;
  height: 60px;
  padding-top: 10px;
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transform-origin: bottom;
      -ms-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition: -webkit-transform 0.5s ease;
          transition: transform 0.5s ease;
}
.product-page-link {
  position: relative;
  width: 100%;
  height: 60px;
  padding-top: 10px;
  margin-top: -70px;
}
.product-container:hover .prod-page-link-bg {
  -webkit-transform: scaleY(1.1);
      -ms-transform: scaleY(1.1);
          transform: scaleY(1.1);
  -webkit-transform-origin: bottom;
      -ms-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition: -webkit-transform 0.5s ease;
          transition: transform 0.5s ease;
}
.product-title,
.product.price {
  width: 100%;
  padding: 5px;
}
.contact-container {
  width: 85%;
}
.contact-blurb,
.contact-info {
  margin-top: 30px;
}
.contact-info p {
  padding-top: 10px;
}
.contact-info p i {
  padding-right: 10px;
}
.contact-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 30px 0;
}
.contact-form label {
  padding: 15px 0 5px 0;
}
.contact-form input {
  width: 70%;
  height: 25px;
  max-width: 400px;
}
.contact-form input#submit-form {
  width: 100px;
  height: 40px;
  margin-top: 20px;
}
.contact-form textarea {
  max-width: 400px;
}
.contact-form input,
.contact-form textarea {
  border-radius: 5px;
}
.contact-container {
  margin-bottom: 30px;
}
.contact-image-container {
  width: 100%;
}
.contact-page-image {
  max-width: 400px;
  margin: 25px auto;
}
.contact-image-text {
  margin-top: -10px;
}
.alert-window {
  display: none;
  background: black;
  opacity: 0.5;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 20;
}
.alert-box {
  display: none;
  width: 60%;
  height: 200px;
  position: fixed;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  top: 200px;
  border-radius: 10px;
  z-index: 30;
}
.alert-heading,
.alert-text {
  margin: 0 auto;
  padding-top: 20px;
  width: 75%;
}
.alert-text {
  padding-bottom: 10px;
}
.alert-button {
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}
.cart-and-suggestions,
.cart-container {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.cart-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
table {
  margin-top: 30px;
  width: 90%;
}
table th {
  padding: 20px;
}
table th.cart-items-heading {
  width: 60%;
}
table td i {
  vertical-align: top;
  padding: 5px 0 0 5px;
}
table td img {
  width: 100%;
  max-width: 300px;
}
table td.cart-items {
  height: 150px;
  padding: 10px 0 10px 10px;
}
table td.cart-values {
  vertical-align: top;
  padding-top: 10px;
}
table td.cart-subheading {
  padding: 5px;
}
.checkout {
  margin: 15px 0;
  padding: 5px 10px;
  border-radius: 10px;
}
.cart-suggestions {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}
.suggestion-image-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.suggestion-images {
  margin: 5px;
  max-width: 100%;
}
.suggestion-title {
  width: 100%;
  margin-left: 10px;
}
.blog {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.blog-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-bottom: 20px;
}
.blog-post {
  width: 90%;
  margin: 25px 0 0 0 ;
  padding-bottom: 20px;
}
.blog-title {
  padding: 20px 0 0 20px;
}
.blog-date {
  padding: 5px 0 0 20px;
}
.blog-text {
  padding: 20px 20px 0 20px;
}
.blog-image {
  display: block;
  width: 75%;
  max-width: 400px;
  margin: 20px auto 0 auto;
}
.blog-recent-posts {
  display: none;
}
.cookies {
  display: none;
  height: 0;
  visibility: hidden;
}
.footer-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.footer-nav ul {
  padding: 25px;
  width: 40%;
}
.footer-nav i {
  padding-right: 5px;
}
@media (min-width: 720px) {
  .navigation-links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .button-nav {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  .navbtn {
    display: none;
  }
  .menu-nav {
    display: block;
  }
  .menu-nav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .menu-nav a {
    padding: 10px;
  }
  .thumb-container {
    width: 100%;
    padding: 0px;
    margin: 20px;
    overflow: hidden;
    z-index: 2;
    background-clip: padding-box;
  }
  .thumbnail-page-links {
    width: 30%;
    padding: 0 25px;
  }
  .thumb-txt-link {
    margin-top: -15px;
  }
  .thumb-link {
    background-clip: padding-box;
    display: block;
  }
  .thumb-link img {
    width: 100%;
    -webkit-transition: -webkit-transform 1s ease;
            transition: transform 1s ease;
    display: block;
    overflow: hidden;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
  a.thumb-link:hover img {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: -webkit-transform 1s ease;
            transition: transform 1s ease;
  }
  .product-images {
    width: 90%;
  }
  .product-container {
    width: 45%;
    padding: 15px;
  }
  .contact {
    width: 70%;
    float: left;
  }
  .contact-image-container {
    float: right;
    width: 30%;
    margin-top: 30px;
  }
  .contact-page-image {
    width: 100%;
  }
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  .alert-box {
    width: 40%;
  }
  .alert-heading {
    padding-top: 30px;
  }
  table {
    width: 80%;
  }
  .cart-items img {
    width: 70%;
  }
  .cart-edit {
    margin-top: -5px;
    float: right;
  }
  .cart-suggestions {
    width: 80%;
  }
  .footer-nav {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer-nav ul {
    width: 30%;
    padding: 10px;
  }
}
@media (min-width: 1000px) {
  h1.heading-text {
    width: 80%;
  }
  .nav-container,
  .product-nav-container {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 80%;
  }
  .product-nav-container {
    top: 0px;
  }
  .nav-bar {
    width: 80%;
  }
  .product-nav {
    width: 80%;
  }
  .content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-image {
    width: 80%;
    max-height: 100%;
  }
  .thumbnail-images {
    width: 80%;
  }
  .thumbnail-page-links {
    width: 25%;
  }
  .thumb-container {
    width: 100%;
  }
  .product-images {
    width: 80%;
  }
  .product-container {
    width: 31%;
    padding: 10px;
  }
  .contact-container {
    width: 75%;
  }
  .contact-form {
    width: 75%;
  }
  .contact-form textarea {
    max-width: 600px;
  }
  .alert-box {
    width: 30%;
  }
  .blog {
    width: 80%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .blog-container {
    width: 70%;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .blog-post {
    width: 100%;
    margin-left: 10px;
  }
  .blog-recent-posts {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 25%;
    margin: 40px 0 0 40px;
  }
  .blog-recent-title {
    padding-bottom: 5px;
    margin-bottom: 20px;
  }
  .blog-rec-link-container {
    margin-bottom: 10px;
    padding: 0 10px;
  }
  .blog-rec-link-container i {
    vertical-align: 1px;
    padding-right: 2px;
  }
  .cart-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 80%;
  }
  .cart-and-suggestions {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 80%;
  }
  .cart-suggestions {
    width: 30%;
  }
  .suggestion-image-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .suggestion-images {
    width: 100%;
  }
  table {
    width: 90%;
    vertical-align: top;
  }
  .checkout {
    left: 50%;
  }
  .cookies {
    display: none;
    visibility: visible;
    width: 100%;
    height: 25px;
    position: fixed;
    bottom: 0;
    z-index: 50;
  }
  .cookies p {
    padding-left: 50px;
    float: left;
    margin-top: 4px;
  }
  .cookies button {
    margin: 3px 20px 0 0;
    float: right;
    -webkit-transition: background-color 0.5s ease;
            transition: background-color 0.5s ease;
  }
  .cookies button:hover {
    background-color: #f9cccf;
  }
  footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-nav {
    width: 80%;
  }
  .footer-nav ul {
    width: 20%;
    padding: 20px;
  }
}
