@brand-color: #E83541;
@light-brand-color: lighten(@brand-color, 25%);

body {
	background-color: lighten(@brand-color, 33%);
}

a {
	color: black;
	transition: color 0.5s ease;
}

a:hover {
	color: @brand-color;
}

.nav-bg{
	background-color: white;
}

.navbtn, .cartbtn {
	background-color: white;
}

.navbtn:hover, .cartbtn:hover {
	color: @brand-color;
}

.nav-dropdown a {
	color: white;
	background-color: @brand-color;

	&:hover {
		color: @brand-color;
		background-color: white;
	}
}

.menu:hover {
	color: @brand-color}

.product-nav-bg {
	background-color: @light-brand-color;
}

.product-nav-buttons li:hover {
	background-color: @brand-color;
}

.product-nav-buttons a:hover {
	color: black;
}