@font-face {
	font-family: Luxi-Reg;
	src: url("../fonts/luxirr.ttf");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: Raleway-Reg;
	src: url("../fonts/Raleway-Regular.ttf");
	font-style: normal;
	font-weight: normal;
}

body {
	font-family: Raleway-Reg;
}

h1 {
	font-size: 1.75em;
	font-family: Luxi-Reg;

	&.heading-text {
		font-size: 1.5em;
	}
}

h2 {
	font-weight: bold;
}

a {
	text-decoration: none;
}

.navbtn, .cartbtn {
	font-size: 1.2em;
}