@font-face {
	font-family: Luxi-Reg;
	src: url("../fonts/luxirr.ttf");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: Raleway-Reg;
	src: url("../fonts/Raleway-Regular.ttf");
	font-style: normal;
	font-weight: normal;
}

@number-font: "Trebuchet MS", Helvetica, sans-serif;

body {
	font-family: Raleway-Reg;
}

h1 {
	font-size: 1.75em;
	font-family: Luxi-Reg;

	&.heading-text {
		font-size: 1.5em;
	}
}

h3 {
	font-family: @number-font;
	text-align: center;
}

h6 {
	font-family: Raleway-Reg;
	text-transform: uppercase;
	font-weight: bold;
}

a {
	text-decoration: none;
}

footer p {
	font-family: @number-font;
	font-size: 0.9em;
}

.navbtn, .cartbtn {
	font-size: 1.2em;
}

.product-title {
	text-align: center;
}

@media (min-width: 720px) {
	footer p {
		font-size: 0.8em;
	}
}

@media (min-width: 1000px) {
	footer p {
		font-size: 0.9em;
	}
}