@import 'cssreset.css';
@import 'colors.less';
@import 'fonts.less';

h1 {
	&.site-title {
		padding-left: 15px;
	}

	&.heading-text {
		text-align: center;
		margin-top: 30px;
		margin-bottom: 5px;
		padding: 5px 0;
		width: 100%;
	}
}

h2 {
	padding-bottom: 10px;
}

li {
	padding: 2px 0;
}

.nav-bg, .nav-container, .nav-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	height: 60px;
	width: 100%;
	z-index: 10;
}

.logo {
	display: flex;
	align-items: center;
}

// Combination of logo image and text

.nav-logo {
	width: 50px;
	padding: 5px 0 0 10px;
}

// Button style of navigation for mobile

.button-nav {
	display: flex;
	padding-right: 15px;
}

// Buttons for cart and dropdown menu

.navbtn, .cartbtn {
	border: none;
	padding: 10px 10px;
	transition: color 0.5s ease;
}

// Dropdown menu for mobile

.nav-dropdown {
	display: none;
	position: absolute;
	right: 0;
	top: 72px;
	width: 100%;
	margin-top: 17px;


	a {
	    padding: 12px 16px;
	    height: 20px;
	    text-decoration: none;
	    display: block;
	    text-align: center;
	    transition: none;
	}
}

// Menu navigation style - toggled off for mobile

.menu-nav {
	display: none;
}

 // Product navigation bar 

.product-nav-bg, .product-nav-container, .product-nav {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: fixed;
	top: 60px;
	height: 30px;
	width: 100%;
	z-index: 10;
}

.product-nav-buttons {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	
	li {
		padding: 7px 10px;
		transition: background-color 0.5s ease;
	}
}

// Body Content

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 25px;
}

// Index header image

.header-image {
	margin-top: 90px;
	max-width: 100%;
}

.thumbnail-images {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.thumb-container {
	display: flex;
	justify-content: center;
	width: 75%;
	padding: 25px;
}

.thumbnail {
	width: 100%;
	height: 100%;
	max-width: 400px;

}

.footer-nav {
	display: flex;

	ul {
		padding: 25px;
	}
}


@media (min-width: 720px) {

	.navigation-links {
		display: flex;
		align-items: center;
	}

	.button-nav {
		order: 1;
	}

	.navbtn {
		display: none;
	}

	.menu-nav {
		display: block;

		ul {
			display: flex;
		}

		li {
			padding: 10px;

			a {
				padding: 10px;
			}
		}
	}	

	.thumb-container {
		width: 35%;
		padding: 0px;
		margin: 20px;
		overflow: hidden;
		z-index: 2;
		background-clip: padding-box;
		border: 1px solid transparent;
	}


	.thumb-link {
  		background-clip: padding-box;
  		display: block; 
	}
		
	.thumb-link img {
	    width: 100%;
      	transition: transform 1s ease;
    	display: block;
  		overflow: hidden;
  		transform: scale(1);
	}
		
	a.thumb-link:hover img {
		transform: scale(1.1);
		transition: transform 1s ease;
	}
}


@media (min-width: 1000px) {

	h1.heading-text {
		width: 80%;
	}

	.nav-container, .product-nav-container {
		display: block;
		position: relative;
		margin: 0 auto;
		width: 80%;
	}

	.nav-bar {
		width: 80%;
	}

	.product-nav {
		width: 80%;
	}

	.content {
		display: flex;
		align-items: center;
	}

	.header-image {
		width: 80%;
		height: 100%;
	}

	.thumbnail-images {
		width: 80%;
	}

	.thumb-container {
		width: 25%;
	}

	.footer {
		display: flex;
		justify-content: center;
	}

	.footer-nav {
		width: 80%;
	}
}